
.container {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 33% 33% 33% 33%;
}
.btn {
	color: white;
	background-color: #0846f7;
	margin: 10px;
	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	border-radius: 10px;
  	font-size: 200px;
}
.btn:active {
	color: white;
	background-color: #04237c;
}